.bad-form {
  margin: 2rem auto;
  textarea, input {
    width: 100%;
  }
  .row {
    margin-bottom: 1rem;
  }
  .error {
    color: $red;
  }
  .success {
    color: #3c763d;
  }
  .form-message {
    padding: 10px 0;
    font-weight: bold;
  }
}